
  * {
    box-sizing: border-box;
  }
  
  .grid-container {
    grid-row-gap: 20px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;

  }
  /* Card */
  .card {
    float: left;
    width: 23%;
    height: 400px;
    margin: .5% 1%;
  }

  .card-image{
    width: 100%;
    margin: auto;  
}
  .card-image img{
    aspect-ratio: 3/2;
    width: 100%;
    height: 50%;
  }
  
  .row {
    margin: 0 -5px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .filter_btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .filter_btn:hover {
    background-color: #ddd;
  }
  
  .filter_btn.active {
    background-color: #666;
    color: white;
  }